pipeline/028_CopyData_CustomMapping_SingleTable.json
{
	"name": "028_CopyData_CustomMapping_SingleTable",
	"properties": {
		"activities": [
			{
				"name": "GET MAPPING data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetColumnMappings]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable5",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data using custom mapping",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GET MAPPING data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.tblorders",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(activity('GET MAPPING data').output.firstRow.ColumnMapping)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "Headerlesscsv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable4",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}